<form name="create_game_form" method="POST">
    {{ form.hidden_tag() }}

    <div class="form-element">
        {{form.name.label}}
        {{form.name}}
        {% for error in form.name.errors%}
            <span class="error">{{error}}</span>
        {% endfor %}
    </div>

    <div class="form-element">
        {{form.country.label}}
        {{form.country}}
        {% for error in form.country.errors%}
            <span class="error">{{error}}</span>
        {% endfor %}
    </div>

    {{ form.save }}

</form>