<form name="create_game_form" method="POST">
    {{ form.hidden_tag() }}

    <div class="form-element">
        {{form.game.label}}
        {{form.game}}
        {% for error in form.game.errors%}
            <span class="error">{{error}}</span>
        {% endfor %}
    </div>

    <div class="form-element">
        {{form.runner.label}}
        {{form.runner}}
        {% for error in form.runner.errors%}
        <span class="error">{{error}}</span>
        {% endfor %}
    </div>

    <div class="form-element">
        {{form.time.label}}
        {{form.time}}
        {% for error in form.time.errors%}
            <span class="error">{{error}}</span>
        {% endfor %}
    </div>

    <div class="form-element">
        {{form.verified.label}}
        {{form.verified}}
        {% for error in form.verified.errors%}
            <span class="error">{{error}}</span>
        {% endfor %}
    </div>

    {{ form.save }}

</form>