<h1>Welcome to the admin!</h1>

<hr />

<h2>All Products</h2>

<br />


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for product in all_products %}
        <tr>
            <td>
                <a href="/admin/{{product.id}}">
                    {{product.name|title}}
                </a>
            </td>
            <td>
                £{{"%.2f"|format(product.price|float)}}
            </td>
            <td>
                <button onclick="deleteProduct({{product.id}})">Delete</button>
            </td>
        </li>
    {% endfor %}
    </tbody>
</table>

<hr />

<a href="{{url_for('admin.create_product')}}">Create new Product</a>


<script>
    async function deleteProduct(productId) {
        var fd = new FormData();
        fd.set('product_id', productId);

        var response = await fetch(
            '{{url_for("admin.delete_product")}}',
            {
                method: 'POST',
                body: fd,
            } 
        );

        var res_json = await response.json()
        alert(res_json.message);

        location.reload();
    }
</script>
